/* global */
:root {
  /* color */

  /* Font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: aliceblue;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: black;
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: black;
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: black;
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: black;
  margin: 4px 0;
}

/* section */
.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(4, 7, 83);
  align-items: center;
  color: azure;
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: 4px;
}

/* .navbar__menu__item.active {
  border: 1px solid azure;
} */

.navbar__menu__item:hover {
  background-color: rgb(77, 81, 184);
  border: 1px solid azure;
  transform: scale(1.1);
}

.navbar__menu__item {
  transition: all 300ms ease;
}

.navbar__toggle-btn {
  position: absolute;
  top: 34px;
  right: 32px;
  font-size: 24px;
  color: azure;
}

/* Home */
#home {
  background: url('img/background.png') center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid white;
}

.home__title,
.home__description {
  color: azure;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  border: 2px solid blue;
  border-radius: 50%;
  margin-bottom: 25px;
  color: blue;
}

.major__icon i {
  transition: all 300ms ease;
}
.major__icon:hover i {
  color: pink;
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: rgb(158, 158, 158);
}

.major__description {
  font-size: var(--font-small);
}

/* contact */
#contact {
  background-color: rgb(4, 7, 83);
}

.contact__title,
.contact__email {
  color: azure;
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i {
  transition: 300ms ease-in;
}
.contact__links i:hover {
  transform: scale(1.1);
  color: rgb(220, 76, 100);
}

.contact__email i {
  font-size: var(--font-medium);
}

.contact__email:hover i {
  transform: scale(1.1);
  color: rgb(220, 76, 100);
}
.contact__email:hover h2 {
  transform: scale(1.1);
  color: rgb(220, 76, 100);
}

.contact__email i,
h2 {
  transition: all 300ms ease-in;
}

@media screen and (max-width: 768px) {
  .about__majors {
    flex-direction: column;
  }
  .major {
    margin: auto;
    margin-bottom: 20px;
  }
}
